
<div id="bottom-sidebar">

    <div class="container">

        <div class="row">

            <div class="col-md-4 col-sm-4 col-xs-12">
              <h4 style="color:white !important">HEAD OFFICE</h4>
                <p>
                  Lorem India Limited, <br>
                  1, Nelson Mandela Road, <br>
                  Vasant Kunj, <br>
                  Chennai - 600 001

            </div>
            <!-- col-md-4 -->

            <div class="col-md-4 col-sm-4 col-xs-12">

                <div class="row">

                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="widget clearfix widget_nav_menu">

                            <h4 class="widget-title">Contact Us</h4>
                            <div class="cform">

                                  <input type="text" size="40" class="name" value="" name="name" placeholder="Name" >
                                  <br>
                                  <br>
                                  <input type="text" size="40" class="phno" value="" name="phno" placeholder="Phone No." >
                                  <br>
                                  <br>
                                  <input type="text" size="40" class="email" value="" name="email" placeholder="Email" >
                                  <br>
                                  <br>
                                  <input type="submit" class="submit text-center" value="Subscribe">
                            </div>
                        </div>
                        <!-- widget -->
                    </div>



                </div>

            </div>
            <!-- col-md-4 -->

            <div class="col-md-4 col-sm-4 col-xs-12">

                <div class="widget kopa-newsletter-widget">

                    <h4 class="widget-title">Newsletter</h4>

                    <form class="newsletter-form clearfix" method="post" action="processNewsletterForm.php">
                        <p class="input-email clearfix">
                            <input type="text" size="40" class="email" value="" name="email" onblur="if(this.value=='')this.value=this.defaultValue;" onfocus="if(this.value==this.defaultValue)this.value='';">
                            <input type="submit" class="submit" value="Subscribe">
                        </p>
                    </form>
                    <div id="newsletter-response"></div>

                </div>
                <!-- kopa-newsletter-widget -->

                <div class="widget kopa-social-link-widget">

                    <h4 class="widget-title">Follow us</h4>

                    <ul class="social-nav model-2 clearfix">
                        <li><a href="#" class="twitter"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#" class="facebook"> <i class="fa fa-facebook"></i></a></li>
                        <li><a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a></li>
                    </ul>

                </div>
                <!-- kopa-social-link-widget -->

            </div>
            <!-- col-md-4 -->

        </div>
        <!-- row -->

    </div>
    <!-- container -->

</div>

<footer id="kopa-page-footer">

    <div class="container">

    <div class="row">

        <div class="col-md-12 col-sm-12 col-xs-12">

            <p id="copyright" class="text-center">Copyright &copy; 2016. All Rights Reserved.</p>

        </div>
        <!-- col-md-12 -->

    </div>
    <!-- row -->

</div>
<!-- container -->

<p id="back-top">
    <a href="#top"><i class="fa fa-arrow-up"></i></a>
</p>

</footer>
