<div class="modal fade" id="registerModal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content text-center">
            <div id="contact-form">
                <div class="contact-form-title text-center" style="margin-bottom: 30px !important;">
                    <h2>Get in touch</h2>
                </div>

                <form class="contact-form clearfix" action="/register" method="post" novalidate="novalidate">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2">
                            <button class="btn btn-block btn-lg btn-info"><span class="fa fa-facebook"></span> &nbsp;Sign up with Facebook</button>
                            <button class="btn btn-block btn-lg btn-danger"><span class="fa fa-google">&nbsp;Sign up with Google</button>
                            <br> <p class="text-center">Or</p>
                            <p class="input-block">
                                <label class="required" for="contact_name"><i class="fa fa-user"></i></label>
                                <input type="text" class="valid" name="name" id="contact_name" value="" placeholder="Name*">
                            </p>
                            <!-- col-md-4 -->

                            <p class="input-block">
                                <label class="required" for="contact_email"><i class="fa fa-envelope"></i></label>
                                <input type="text" class="valid" name="email" id="contact_email" value="" placeholder="Email*">
                            </p>
                            <!-- col-md-4 -->

                            <p class="input-block">
                                <label class="required" for="phone"><i class="fa fa-phone"></i></label>
                                <input type="text" id="phone" value="" class="valid" name="url" placeholder="Phone">
                            </p>
                            <p class="input-block">
                                <p class="pull-left" style="font-size:18px"> Gender</p><br>
                                <div class="form-group">
                                    <div class="col-md-4">
                                        <label class="radio">
                                            <input type="radio" name="gender" value="Male"> Male
                                        </label>
                                    </div>
                                    <div class="col-md-4">
                                        <label class="radio">
                                            <input type="radio" name="gender" value="Female" checked> Female
                                        </label>
                                    </div>
                                </div>
                            </p>
                            <br>
                            <p class="contact-button clearfix">
                                <input type="submit" class="input-submit" id="submit-contact" value="Register">
                            </p>
                            <br>
                        </div>
                        <!-- col-md-12 -->
                    </div>
                    <!-- row -->
                </form>
                <div id="response"></div>
            </div>
            <div class="modal-footer" style="text-align:center !important">
                <button class=" btn btn-primary pointer" data-dismiss="modal" data-name="register-modal" data-toggle="modal" data-target="#signinModal">Sign in</button>
                <span> &nbsp; &nbsp;Already have an account?</span>
            </div>
            <br>
        </div><!-- .modal-content -->
    </div><!-- .modal-dialog -->
</div><!-- .modal.fade -->
