    <div id="main-content">

        <header class="page-header">

            <div class="mask-pattern"></div>

            <div class="mask"></div>

            <div class="page-header-bg page-header-bg-1"></div>

            <div class="page-header-inner">

                <div class="container">

                    <div class="row">

                        <div class="col-md-12">

                            <h1 class="page-title clearfix">
                                <span class="pull-left">About Us</span>
                                <i class="pull-left">why our clients love to work with us.</i>
                            </h1>

                        </div>
                        <!-- col-md-12 -->

                    </div>
                    <!-- row -->

                </div>
                <!-- container -->

            </div>
            <!-- page-header-inner -->

        </header>
        <!-- page-header -->

        <div itemtype="http://data-vocabulary.org/Breadcrumb" itemscope="" class="kopa-breadcrumb">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
						<div class="pull-left"><span>About us</span></div>
						<div class="pull-right">
							<a title="Return to Home" href="#" itemprop="url">
								<span itemprop="title">Home</span>
							</a>
							<span>&nbsp;/&nbsp;</span>
							<span itemprop="title" class="current-page">About us</span>
						</div>
					</div>
                </div>
            </div>
        </div>
        <!-- kopa-breadcrumb -->

        <section class="kopa-area kopa-area-31">

            <div class="container">

                <div class="row">

                    <div class="col-md-3 col-sm-3 col-xs-12">

                    	<div class="widget clearfix widget_nav_menu">

                            <h4 class="widget-title widget-title-s10">About BSERI</h4>

                            <div class="menu-menu-container">
                                <ul class="menu">
                                    <li class="menu-item menu-item-type-taxonomy menu-item-object-category"><a href="#about_us">About us</a></li>
                                    <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="#history">History</a></li>
                                    <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="#facts">Fast Facts</a></li>
                                    <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="#faq">FAQ</a></li>
                                </ul>
                            </div>
                        </div>
                        <!-- widget -->

                    </div>
                    <!-- col-md-3 -->

                    <div class="col-md-9 col-sm-9 col-xs-12">

                    	<div class="widget kopa-article-list-7-widget">

                    		<article class="entry-item video-post">
                    			<div class="entry-thumb">
                    				<img src="images/logo1.jpg" alt="">
                    				<div class="mask"></div>
                    			</div>

                    			<h4 class="entry-title"><a href="#">Discovery Your Materitix</a></h4>
                    			<a class="entry-icon" href=""><span></span></a>
                    		</article>

                    	</div>
                    	<!-- widget -->

                    	<div class="row">

                    		<div class="col-md-8 col-sm-8 col-xs-12">

                    			<div class="entry-box">

                    				<div id='about_us' class="entry-content">

                    					<h3>About Us</h3>

			                    		<p>BSERI was born on the strong realization of the acute need for a full-fledged MANAGEMENT SYSTEMS TRAINING INSTITUTE by Govind Srinivasan, the Founder-Director of BSERI, based on his close association with Management System Standards (MSS) practice, for more than a decade.</p>

			                    		<br>

			                    		<h6>Mission & Purpose</h6>

			                    		<p>BSERI’s focus is to conduct MSS IMPLEMENTATION TRAINING COURSES, covering almost all the popular certifiable MSS.  The acute deficit of MSS implementation skills is the primary requirement that BSERI recognizes and aims to fulfil in its long journey helping organizations that require solid implementation expertise in different MSS. BSERI would like to elevate MSS Training into an entirely different dimension that can facilitate comprehensive and involved learning, as opposed to minimal learning.  </p>

			                    		<br>

			                    		<p>BSERI envisions to engage itself in RESEARCH on MSS and the associated areas of knowledge and using these research findings in making continual improvement of the MSS Training Strategy, methods, techniques and related offerings</p>

			                    		<br>

			                    		<blockquote class="kopa-blockquote-2 hide">
		                                    <p>Originally a web designer, Kai launched the first Offscreen magazine in early 2012 after wanting to create something more physical and lasting. Offscreen explores the lives of people in our industry outside of work, and is still a one-man operation, now on it’s tenth issue. Kai also publishes a weekly newsletter The Modern Desk.</p>
		                                </blockquote>


	                    			</div>

		                    	</div>
		                    	<!-- entry-box -->

                    		</div>
                    		<!-- col-md-8 -->

                    		<div class="col-md-4 col-sm-4 col-xs-12">

                    			<div class="widget kopa-featured-teacher-widget">

		        					<div class="widget-title widget-title-s7 clearfix">
			    						<i class="fa fa-quote-left pull-left"></i>
			    						<h4 class="pull-left">Teacher</h4>
			    					</div>

		        					<div class="widget-content">
		        						<article class="entry-item">
		        							<div class="entry-thumbnail">
		        								<a href="#"><img alt="" src="images/teacher.jpg"></a>
		        							</div>
		        							<div class="entry-content">
		        								<p>Originally a web designer, Kai launched the first Offscreen magazine in early 2012 after wanting to create something more physical and lasting. Offscreen explores the lives of people in our industry outside of work, and is still a one-man operation, now on it’s tenth issue. Kai also publishes.</p>
		        								<footer>
		        									<h6><a href="#">Marc Hemeon</a></h6>
		        									<span>CREATOR of OFFSCREEN MAGAZINE</span>
		        								</footer>
		        							</div>
		        						</article>
		        					</div>
		        					<!-- widget-content -->

		        				</div>
		        				<!-- widget -->

		        				<div class="widget kopa-nothumb-3-widget">

		        					<h4 class="widget-title widget-title-s10">Upcomming event</h4>

		        					<div class="widget-content">

			    						<ul>

			    							<li>
			    								<article class="entry-item">

													<header class="clearfix">
														<span class="entry-time pull-left">At 3:00pm</span>
														<span class="entry-meta pull-left">&nbsp;/&nbsp;</span>
														<span class="entry-author pull-left"><a href="#">Steven Granger</a></span>
													</header>

													<h5 class="entry-title"><a href="#">Advanced ISO For Omnis</a></h5>

			    								</article>
			    							</li>

			    							<li>
			    								<article class="entry-item">

													<header class="clearfix">
														<span class="entry-time pull-left">At 3:00pm</span>
														<span class="entry-meta pull-left">&nbsp;/&nbsp;</span>
														<span class="entry-author pull-left"><a href="#">Steven Granger</a></span>
													</header>

													<h5 class="entry-title"><a href="#">Advanced ISO For Omnis</a></h5>

			    								</article>
			    							</li>

			    							<li>
			    								<article class="entry-item">

													<header class="clearfix">
														<span class="entry-time pull-left">At 3:00pm</span>
														<span class="entry-meta pull-left">&nbsp;/&nbsp;</span>
														<span class="entry-author pull-left"><a href="#">Steven Granger</a></span>
													</header>

													<h5 class="entry-title"><a href="#">Advanced ISO For Omnis</a></h5>

			    								</article>
			    							</li>

			    						</ul>

			    					</div>

		        				</div>
		        				<!-- widget -->

                    		</div>
                    		<!-- col-md-4 -->

                    	</div>
                    	<!-- row -->

                    </div>
                    <!-- col-md-9 -->

                </div>
                <!-- row -->

            </div>
            <!-- container -->

        </section>
        <!-- kopa-area -->

        <section class="kopa-area-light kopa-area-8">

    		<div class="container">

    			<div class="row">

    				<div class="col-md-12">

    					<div class="widget kopa-ads-1-widget">



    					</div>
    					<!-- widget -->

    				</div>

    			</div>
    			<!-- row -->

    		</div>
    		<!-- container -->

    	</section>
    	<!-- kopa-area-light -->

    </div>
    <!-- main-content -->
