<div class="kopa-course-list-1">

        <div id="main-content" class="kopa-course-list-1">

        <header class="page-header">

            <div class="mask-pattern"></div>

            <div class="mask"></div>

            <div class="page-header-bg page-header-bg-1"></div>

            <div class="page-header-inner">

                <div class="container">

                    <div class="row">

                        <div class="col-md-12">

                            <h1 class="page-title clearfix">
                                <span class="pull-left">Course List</span>
                            </h1>

                        </div>
                        <!-- col-md-12 -->

                    </div>
                    <!-- row -->

                </div>
                <!-- container -->

            </div>
            <!-- page-header-inner -->

        </header>
        <!-- page-header -->

        <div itemtype="http://data-vocabulary.org/Breadcrumb" itemscope="" class="kopa-breadcrumb">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
						<div class="pull-left"><span>Course list 4 column</span></div>
						<div class="pull-right">
							<a title="Return to Home" href="#" itemprop="url">
								<span itemprop="title">Home</span>
							</a>
							<span>&nbsp;/&nbsp;</span>
							<span itemprop="title" class="current-page">Course list</span>
						</div>
					</div>
                </div>
            </div>
        </div>
        <!-- kopa-breadcrumb -->

        <section class="kopa-area kopa-area-31">

            <div class="container">

                <div class="row">
                    <div class="col-md-9">
                        <h3> BSERI courses </h3>
                        <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam lacinia, turpis non laoreet bibendum, felis est convallis justo, eu fringilla augue sapien placerat mauris. Nunc iaculis lectus nibh, in vestibulum ligula vehicula ac. Duis venenatis vestibulum eros, quis facilisis ex sollicitudin at. Nunc sodales, leo a malesuada luctus, felis diam accumsan velit, in rhoncus leo nisi vitae dui. Interdum et malesuada fames ac ante ipsum primis in faucibus. Duis in neque sollicitudin, interdum turpis sit amet, gravida orci. Nullam viverra tellus ac elit viverra suscipit. Vestibulum sollicitudin hendrerit risu</p>
                        <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam lacinia, turpis non laoreet bibendum, felis est convallis justo, eu fringilla augue sapien placerat mauris. Nunc iaculis lectus nibh, in vestibulum ligula vehicula ac. Duis venenatis vestibulum eros, quis facilisis ex sollicitudin at. Nunc sodales, leo a malesuada luctus, felis diam accumsan velit, in rhoncus leo nisi vitae dui. Interdum et malesuada fames ac ante ipsum primis in faucibus. Duis in neque sollicitudin, interdum turpis sit amet, gravida orci. Nullam viverra tellus ac elit viverra suscipit. Vestibulum sollicitudin hendrerit risu</p>

                    </div>
                    <div class="col-md-3">

                        <div class="widget kopa-course-search-2-widget">

                            <h4 class="widget-title widget-title-s10">Courses search</h4>

                            <div class="widget-content">

                              <form method="post" action="#" class="course-form clearfix">

                                    <div class="select-block">
                                          <select>
                                              <option value="">Discipline</option>
                                              <option value="">Discipline</option>
                                              <option value="">Discipline</option>
                                              <option value="">Discipline</option>
                                              <option value="">Discipline</option>
                                          </select>
                                          <i class="fa fa-sort-desc"></i>
                                      </div>
                                      <!-- select-block -->

                                    <div class="select-block">
                                          <select>
                                              <option value="">Duration</option>
                                              <option value="">Duration</option>
                                              <option value="">Duration</option>
                                              <option value="">Duration</option>
                                              <option value="">Duration</option>
                                          </select>
                                          <i class="fa fa-sort-desc"></i>
                                      </div>
                                      <!-- select-block -->

                                    <div class="select-block">
                                          <select>
                                              <option value="">Level</option>
                                              <option value="">Level</option>
                                              <option value="">Level</option>
                                              <option value="">Level</option>
                                              <option value="">Level</option>
                                          </select>
                                          <i class="fa fa-sort-desc"></i>
                                      </div>
                                      <!-- select-block -->

                                    <div class="select-block">
                                          <select>
                                              <option value="">Location</option>
                                              <option value="">Location</option>
                                              <option value="">Location</option>
                                              <option value="">Location</option>
                                              <option value="">Location</option>
                                          </select>
                                          <i class="fa fa-sort-desc"></i>
                                      </div>
                                      <!-- select-block -->

                                  <input type="submit" value="search" class="course-submit">

                              </form>

                            </div>
                            <!-- widget-content -->

                          </div>
                    </div>


                    <div class="col-md-12">

                    	<div class="widget kopa-masonry-list-2-widget">

	    					<div class="widget-title widget-title-s5 text-center">
	                            <span></span>
	                            <h2>Recent Courses</h2>
	                            <p>See our features courses or see all courses to see all.</p>
	                        </div>

	    					<div class="masonry-list-wrapper">

                                <ul class="clearfix">

                                    <li class="masonry-item">
                                        <article class="entry-item hot-item">
                                            <div class="entry-thumbx">
                                                <div class="mask"></div>
                                                <a href="#"><img src="images/info.png" alt=""></a>

                                                <span class="entry-hot">Hot</span>
                                            </div>
                                            <div class="entry-content">
                                                <div class="course-teacher">
                                                    <span>Teaching</span>
                                                    by <a href="#">Rambo Doel</a>
                                                </div>

                                                    <h6 class="entry-title"><a href="#">ISO 270001:2005 Information Security Management</a></h6>
                                                    <br>
                                                    <a href="single-courses.php" class="btn btn-primary">Take Course</a>

                                            </div>

                                        </article>
                                    </li>
                                    <!-- masonry-item -->

                                    <li class="masonry-item">
                                        <article class="entry-item">
                                            <div class="entry-thumbx">
                                                <div class="mask"></div>
                                                <a href="#"><img src="images/bcm.png" alt=""></a>

                                                <span class="entry-hot">Hot</span>
                                            </div>
                                            <div class="entry-content">
                                                <div class="course-teacher">
                                                    <span>Teaching</span>
                                                    by <a href="#">Rambo Doel</a>
                                                </div>
                                                <h6 class="entry-title"><a href="#">ISO 22301:2012 <br>Business Continouity Management</a></h6>
                                                <br>
                                                <a href="single-courses.php" class="btn btn-primary">Take Course</a>
                                            </div>
                                        </article>
                                    </li>
                                    <!-- masonry-item -->

                                    <li class="masonry-item">
                                        <article class="entry-item">
                                            <div class="entry-thumbx">
                                                <div class="mask"></div>
                                                <a href="#"><img src="images/service.jpg" alt="" height="180"></a>

                                                <span class="entry-hot">Hot</span>
                                            </div>
                                            <div class="entry-content">
                                                <div class="course-teacher">
                                                    <span>Teaching</span>
                                                    by <a href="#">Rambo Doel</a>
                                                </div>
                                                <h6 class="entry-title"><a href="#">ISO 20000:2005<br> Service Management<br><br><br></a></h6>
                                                <a href="single-courses.php" class="btn btn-primary">Take Course</a>
                                            </div>
                                        </article>
                                    </li>
                                    <!-- masonry-item -->

                                    <li class="masonry-item">
                                        <article class="entry-item">
                                            <div class="entry-thumbx">
                                                <div class="mask"></div>
                                                <a href="#"><img src="images/risk.jpg" alt=""></a>

                                                <span class="entry-hot">Hot</span>
                                            </div>
                                            <div class="entry-content">
                                                <div class="course-teacher">
                                                    <span>Teaching</span>
                                                    by <a href="#">Rambo Doel</a>
                                                </div>
                                                <h6 class="entry-title"><a href="#">ISO 31000<br> Risk Management<br><br><br></a></h6>
                                                <a href="single-courses.php" class="btn btn-primary">Take Course</a>
                                            </div>
                                        </article>
                                    </li>
                                    <!-- masonry-item -->

                                    <li class="masonry-item">
                                        <article class="entry-item">
                                            <div class="entry-thumbx">
                                                <div class="mask"></div>
                                                <a href="#"><img src="images/records.jpg" alt=""></a>

                                                <span class="entry-hot">Hot</span>
                                            </div>
                                            <div class="entry-content">
                                                <div class="course-teacher">
                                                    <span>Teaching</span>
                                                    by <a href="#">Rambo Doel</a>
                                                </div>
                                                <h6 class="entry-title"><a href="#">ISO 30301/ISO 15489 <br> Records Management<br><br></a></h6>
                                                <a href="single-courses.php" class="btn btn-primary">Take Course</a>
                                            </div>
                                        </article>
                                    </li>
                                    <!-- masonry-item -->

                                    <li class="masonry-item">
                                        <article class="entry-item">
                                            <div class="entry-thumbx">
                                                <div class="mask"></div>
                                                <a href="#"><img src="images/qms.jpg" alt=""></a>

                                                <span class="entry-hot">Hot</span>
                                            </div>
                                            <div class="entry-content">
                                                <div class="course-teacher">
                                                    <span>Teaching</span>
                                                    by <a href="#">Rambo Doel</a>
                                                </div>
                                                <h6 class="entry-title"><a href="#">ISO 9001:2008<br>Quality Management System</a></h6>
                                                <br>

                                                <a href="single-courses.phps.php" class="btn btn-primary">Take Course</a>
                                            </div>
                                        </article>
                                    </li>
                                    <!-- masonry-item -->

                                    <li class="masonry-item">
                                        <article class="entry-item hot-item">
                                            <div class="entry-thumbx">
                                                <div class="mask"></div>
                                                <a href="#"><img src="images/qms.jpg" alt=""></a>

                                                <span class="entry-hot">Hot</span>
                                            </div>
                                            <div class="entry-content">
                                                <div class="course-teacher">
                                                    <span>Teaching</span>
                                                    by <a href="#">Rambo Doel</a>
                                                </div>
                                                <h6 class="entry-title"><a href="#">ISO 10115 <br>Quality Mgt - Guidelines for Trg.</a></h6>
                                                <br>
                                                <a href="single-courses.php" class="btn btn-primary">Take Course</a>
                                            </div>
                                        </article>
                                    </li>
                                    <!-- masonry-item -->

                                    <li class="masonry-item">
                                        <article class="entry-item">
                                            <div class="entry-thumbx">
                                                <div class="mask"></div>
                                                <a href="#"><img src="images/ems.png" alt=""></a>

                                                <span class="entry-hot">Hot</span>
                                            </div>
                                            <div class="entry-content">
                                                <div class="course-teacher">
                                                    <span>Teaching</span>
                                                    by <a href="#">Rambo Doel</a>
                                                </div>
                                                <h6 class="entry-title"><a href="#">ISO 14001:2004 <br> Environmental Management System</a></h6>
                                                <br>
                                                <a href="single-courses.php" class="btn btn-primary">Take Course</a>
                                            </div>
                                        </article>
                                    </li>
                                    <!-- masonry-item -->

                                </ul>
                                <!-- clearfix -->

                            </div>
                            <!-- masonry-list-wrapper -->

                            <div class="text-center">
                            	<a href="#" class="load-more">Load more</a>
                            </div>

	    				</div>
	    				<!-- widget -->

                    </div>
                    <!-- col-md-10 -->

                </div>
                <!-- row -->

            </div>
            <!-- container -->

        </section>
        <!-- kopa-area -->



    </div>


</div>