<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>BSERI - HTML5 Responsive Template</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="stylesheet" href="css/bootstrap.min.css" media="all" />
        <link rel="stylesheet" href="css/font-awesome.min.css" media="all" />
        <link rel="stylesheet" href="css/superfish.css" media="all" />
        <link rel="stylesheet" href="css/owl.carousel.css" media="all" />
        <link rel="stylesheet" href="css/owl.theme.css" media="all" />
        <link rel="stylesheet" href="css/jquery.navgoco.css"/>
        <link rel="stylesheet" href="style.css">
        <link rel="stylesheet" href="css/responsive.css"/>
        <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,300italic,400italic,600,600italic,700italic,700' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Raleway:400,300,500,600,700,800' rel='stylesheet' type='text/css'>
        <script src="js/modernizr.custom.js"></script>

        <!-- Le fav and touch icons -->
        <link rel="shortcut icon" href="img/favicon.ico">
        <link rel="apple-touch-icon" href="img/apple-touch-icon.png">
        <link rel="apple-touch-icon" sizes="72x72" href="img/apple-touch-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="114x114" href="img/apple-touch-icon-114x114.png">


    </head>

<body>
    <?php
      include('header.php');
      include('register.php');
      include('signin.php');
     ?>

    <div id="main-content">

        <header class="page-header">

            <div class="mask-pattern"></div>

            <div class="mask"></div>

            <div class="page-header-bg page-header-bg-1"></div>

            <div class="page-header-inner">

                <div class="container">

                    <div class="row">

                        <div class="col-md-12">

                            <h1 class="page-title clearfix">
                                <span class="pull-left">Junction box</span>
                            </h1>

                        </div>
                        <!-- col-md-12 -->

                    </div>
                    <!-- row -->

                </div>
                <!-- container -->

            </div>
            <!-- page-header-inner -->

        </header>
        <!-- page-header -->

        <div itemtype="http://data-vocabulary.org/Breadcrumb" itemscope="" class="kopa-breadcrumb">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="pull-left"><span>Junction box</span></div>
                        <div class="pull-right">
                            <a title="Return to Home" href="#" itemprop="url">
                                <span itemprop="title">Home</span>
                            </a>
                            <span>&nbsp;/&nbsp;</span>
                            <span itemprop="title" class="current-page">Junction box</span>
                        </div>
                    </div>
                    <!-- col-md-12 -->
                </div>
            </div>
        </div>
        <!-- kopa-breadcrumb -->

        <section class="kopa-area kopa-area-31">

            <div class="container">

                <div class="row">
                    <h3>Junction details</h3>

                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean viverra odio eu arcu elementum gravida. Morbi vitae ultrices elit, a mattis lacus. Cras facilisis orci in nulla consectetur ultrices. Phasellus consequat felis ipsum, a feugiat tellus cursus sit amet. Fusce et venenatis est. Aenean pulvinar in erat ac efficitur. Interdum et malesuada fames ac ante ipsum primis in faucibus.
                        <br><br>
                        Praesent nec ipsum tincidunt, fermentum erat ut, ultrices eros. Sed ac sapien et urna auctor lobortis ut ac tortor. Curabitur ut leo id metus sollicitudin finibus. Pellentesque velit libero, congue sed lobortis non, fermentum vitae dui. Nunc pharetra lorem feugiat accumsan mattis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Quisque cursus lacus et varius molestie. Integer at vulputate purus. Donec tristique malesuada dapibus. Etiam felis quam, scelerisque ut enim sit amet, accumsan ullamcorper eros. Aenean risus diam, efficitur a mi et, mattis gravida magna. Aliquam nec consectetur magna.
                        <br><br>
                        Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nullam eu mi quis lectus posuere iaculis. Suspendisse sagittis volutpat nisi tempor imperdiet. In eu elit tellus. Curabitur id elit massa. Nulla rhoncus tempor nisl a pellentesque. Ut condimentum ipsum in nisi viverra, et dapibus augue pharetra. Nam pulvinar nunc d
                    </p>

                    <h4>Junction details</h4>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean viverra odio eu arcu elementum gravida. Morbi vitae ultrices elit, a mattis lacus. Cras facilisis orci in nulla consectetur ultrices. Phasellus consequat felis ipsum, a feugiat tellus cursus sit amet. Fusce et venenatis est. Aenean pulvinar in erat ac efficitur. Interdum et malesuada fames ac ante ipsum primis in faucibus.
                        <br><br>
                        Praesent nec ipsum tincidunt, fermentum erat ut, ultrices eros. Sed ac sapien et urna auctor lobortis ut ac tortor. Curabitur ut leo id metus sollicitudin finibus. Pellentesque velit libero, congue sed lobortis non, fermentum vitae dui. Nunc pharetra lorem feugiat accumsan mattis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Quisque cursus lacus et varius molestie. Integer at vulputate purus. Donec tristique malesuada dapibus. Etiam felis quam, scelerisque ut enim sit amet, accumsan ullamcorper eros. Aenean risus diam, efficitur a mi et, mattis gravida magna. Aliquam nec consectetur magna.
                        <br><br>
                        Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nullam eu mi quis lectus posuere iaculis. Suspendisse sagittis volutpat nisi tempor imperdiet. In eu elit tellus. Curabitur id elit massa. Nulla rhoncus tempor nisl a pellentesque. Ut condimentum ipsum in nisi viverra, et dapibus augue pharetra. Nam pulvinar nunc d
                    </p>
                    </div>
            </div>
            <!-- container -->

        </section>
        <!-- kopa-area-16 -->

    </div>
    <!-- main-content -->


    <?php

        include('footer.html')

    ?>


    <script src="js/jquery-1.11.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/custom.js" charset="utf-8"></script>


</body>

</html>
