    <!-- Modal -->
    <div class="modal fade" id="readmoremodal" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">ISO 14001</h4>
          </div>
          <div class="modal-body">
            <div class="row">

              <div class="col-md-10 col-md-offset-1">
                <div class="col-md-6">
                  <img class="modal-img" src="">
                </div>
                <div class="col-md-6">
                  <p class="modal-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sed sodales lacus. Quisque sodales vitae lorem vel tempor. Sed rutrum nisi in orci ultricies, tincidunt fermentum metus varius. Cras metus elit, porta nec eleifend non</p>
                </div>
              </div>
              <div>
                <div class="col-md-8">
                  <br>
                  <p class="text-center">Date:  <strong class="modal-date"> 2011-01-01 </strong> </p>
                  <p class="text-center">Price:  <strong class="modal-price"> Rs.1000 </strong> </p>
                </div>

                <div class="col-md-12">
                  <br>
                  <br>
                  <a href="single-courses.php" class="modal-link btn btn-lg  btn-block btn-info">Take this Course</a>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
    <!-- Modal -->


    <div data-dismiss="modal" class="modal fade modal-fullscreen force-fullscreen" id="videoModal" tabindex="-1" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content text-center">
          <div class="modal-body">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <video class="modal-video" autoplay width="100%" controls >
              <source src='' type='video/mp4'>
            </video>
        
<!--              <iframe class="modal-video" width="100%" height="100%" src="//www.youtube.com/embed/mwuPTI8AT7M?rel=0" frameborder="0"></iframe>
 -->                   
          </div><!-- .modal-body -->
        </div><!-- .modal-content -->
      </div><!-- .modal-dialog -->
    </div><!-- .modal.fade -->
