
    <div id="main-content" class="kopa-course-list-1">

        <header class="page-header">

            <div class="mask-pattern"></div>

            <div class="mask"></div>

            <div class="page-header-bg page-header-bg-1"></div>

            <div class="page-header-inner">

                <div class="container">

                    <div class="row">

                        <div class="col-md-12">

                            <h1 class="page-title clearfix">
                                <span class="pull-left">Single Course</span>
                            </h1>

                        </div>
                        <!-- col-md-12 -->

                    </div>
                    <!-- row -->

                </div>
                <!-- container -->

            </div>
            <!-- page-header-inner -->

        </header>
        <!-- page-header -->


        <div itemtype="http://data-vocabulary.org/Breadcrumb" itemscope="" class="kopa-breadcrumb">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
            <div class="pull-left"><span>Single Course</span></div>
            <div class="pull-right">
              <a title="Return to Home" href="#" itemprop="url">
                <span itemprop="title">Home</span>
              </a>
              <span>&nbsp;/&nbsp;</span>
              <span itemprop="title" class="current-page">Single Course</span>
            </div>
          </div>
                </div>
            </div>
        </div>
        <!-- kopa-breadcrumb -->

        <section class="kopa-area kopa-area-32">

            <div class="container">

                <div class="row">

                    <div class="col-md-9 col-sm-9 col-xs-12">

                      <div class="entry-course-box">

                        <div class="row">

                          <div class="col-md-8 col-sm-8 col-xs-12 left-col">

                                <h5 class="entry-title">{{course.course.title}}</h5>

                                <div class="entry-thumb pull-left">
                                    <a href="#"><img ng-src={{course.course.midimage}} alt="Course image"></a>
                                </div>

                                <div class="entry-content">
                                    <p>{{course.course.coursedesc1}}</p>
                                    <p>{{course.course.coursedesc2}}</p>
                                    <p>{{course.course.coursedesc3}}</p>

                                    <br>

                                   <!--  <div class="tag-box">

                                        <span>Tags:</span>

                                        <a href="#">Post</a>

                                        <a href="#">Video</a>

                                        <a href="#">Vimeo</a>

                                    </div>
                                    --> <!-- tag-box -->

                                    <div class="social-box clearfix">

                                        <span class="pull-left">Follows:</span>

                                        <ul class="social-links pull-right">
                                            <li><a href="#" class="fa fa-facebook"></a></li>
                                            <li><a href="#" class="fa fa-twitter"></a></li>
                                            <li><a href="#" class="fa fa-youtube"></a></li>
                                            <li><a href="#" class="fa fa-instagram"></a></li>
                                        </ul>

                                    </div>
                                    <!-- social-box -->

                                    <div class="about-author hide">
                                        <div class="author-avatar pull-left"><a href="#"><img src="http://placehold.it/93x100" alt=""></a></div>
                                        <div class="author-content">
                                            <h5><a href="#">Bushra Ahsani</a></h5>
                                            <p>At vero eos et accusamus et iusto odio dignissimos. At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium. At vero eos et accusamus et iusto odio dignissimos.</p>
                                            <ul class="social-links clearfix">
                                                <li><a class="fa fa-facebook" href="#"></a></li>
                                                <li><a class="fa fa-twitter" href="#"></a></li>
                                                <li><a class="fa fa-google-plus" href="#"></a></li>
                                                <li><a class="fa fa-instagram" href="#"></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <!-- about-author -->

                                    <footer class="entry-course-box-footer clearfix hide">

                                        <div class="prev-article-item pull-left">
                                            <article class="entry-item">
                                                <img src="http://placehold.it/276x135" alt="">
                                                <div class="mask"></div>
                                                <div class="entry-content">
                                                    <a href="#" class="fa fa-angle-left"></a>
                                                    <a href="#" class="prev-post">Previous Course</a>
                                                    <h4 class="entry-title"><a href="#">ISO 9000</a></h4>
                                                </div>
                                            </article>
                                        </div>

                                        <div class="next-article-item pull-right">
                                            <article class="entry-item">
                                                <img src="http://placehold.it/276x135" alt="">
                                                <div class="mask"></div>
                                                <div class="entry-content">
                                                    <a href="#" class="fa fa-angle-right"></a>
                                                    <a href="#" class="next-post">Next Course</a>
                                                    <h4 class="entry-title"><a href="#">ISO 3100</a></h4>
                                                </div>
                                            </article>
                                        </div>

                                    </footer>
                                    <!-- entry-course-box-footer -->

                                    <div id="related-post" class="hide">

                                        <h4>Related Courses</h4>

                                        <div class="row">

                                            <div class="col-md-6 col-sm-6 col-xs-12">

                                                <article class="entry-item">
                                                    <div class="entry-thumb">
                                                        <a href="#"><img src="http://placehold.it/255x210" alt=""></a>
                                                    </div>
                                                    <div class="entry-content">
                                                        <span class="entry-categories clearfix"><a href="#">Courses</a></span>
                                                        <h5 class="entry-title"><a href="#">ISO 9001</a></h5>
                                                        <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesen.</p>
                                                    </div>
                                                </article>

                                            </div>
                                            <!-- col-md-6 -->

                                            <div class="col-md-6 col-sm-6 col-xs-12">

                                                <article class="entry-item">
                                                    <div class="entry-thumb">
                                                        <a href="#"><img src="http://placehold.it/255x210" alt=""></a>
                                                    </div>
                                                    <div class="entry-content">
                                                        <span class="entry-categories clearfix"><a href="#">Courses</a></span>
                                                        <h5 class="entry-title"><a href="#">ISO 18001</a></h5>
                                                        <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesen.</p>
                                                    </div>
                                                </article>

                                            </div>
                                            <!-- col-md-6 -->

                                        </div>
                                        <!-- row -->

                                    </div>
                                    <!-- related-post -->

                            </div>

                          </div>
                          <!-- col-md-8 -->

                          <div class="col-md-4 col-sm-4 col-xs-12 right-col">

                            <div class="event-speaker hide">

                                <h6>Speakers</h6>

                                <ul class="clearfix">
                                    <li class="clearfix">
                                        <div class="speaker-avatar pull-left">
                                            <a href="#"><img src="http://placehold.it/70x70" alt=""></a>
                                        </div>
                                        <div class="speaker-detail">
                                            <h6><a href="#">Lana winters</a></h6>
                                            <span>Marketer</span>
                                        </div>
                                    </li>
                                    <li class="clearfix">
                                        <div class="speaker-avatar pull-left">
                                            <a href="#"><img src="http://placehold.it/70x70" alt=""></a>
                                        </div>
                                        <div class="speaker-detail">
                                            <h6><a href="#">johnny haymitch</a></h6>
                                            <span>Professor Of Economics</span>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <!-- event-speaker -->

                            <div class="event-detail">
                                <ul class="clearfix">
                                    <li>
                                        <strong>Start</strong>
                                        <span>9:00AM - {{course.startdate | date : 'dd-MMM-yyyy'}}</span>
                                    </li>
                                    <li>
                                        <strong>End</strong>
                                        <span>5:00PM - {{course.enddate | date : 'dd-MMM-yyyy'}}</span>
                                    </li>
                                    <li>
                                        <i class="fa fa-map-marker"></i>
                                        <span>{{course.location}}</span>
                                    </li>
                                    <li>
                                        <i class="fa fa-phone"></i>
                                        <span>{{course.phone}}</span>
                                    </li>
                                    <li>
                                        <i class="fa fa-envelope"></i>
                                        <a ng-href="mailto:{{course.email}}">{{course.email}}</a>
                                    </li>
                                </ul>

                            </div>
                            <!-- event-detail -->
                            <div class="event-price">
                                <p>Price</p>
                                <span>{{course.Price}}</span>
                            </div>
                            <!-- event-price -->

                            <!-- <a data-name="register-modal" data-toggle="modal" data-target="#loginModal" class="kopa-button pink-button medium-button">Take this Course</a> -->
                            <a href="" ng-click="RegisterEvent(course)" ng-disabled="IsCourseRegistered" ng-model="IsCourseRegistered" class="kopa-button pink-button medium-button btn" ng-class={{disable}}>{{RegisterMsg}}</a>
                            <!-- <button ng-click="RegisterEvent(course)" ng-disabled="!IsCourseRegistered()" class="btn btn-primary">{{RegisterMsg}}</button> -->

                            <a href="checkout.php" class="kopa-button blue-button medium-button hide">Download document</a>

                          </div>
                          <!-- col-md-4 -->

                        </div>
                        <!-- row -->


                      </div>
                      <!-- entry-course-box -->

                    </div>
                    <!-- col-md-9 -->

                    <div class="col-md-3 col-sm-3 col-xs-12 hide">

                      <div class="widget kopa-course-search-2-widget">

                          <h4 class="widget-title widget-title-s10">Courses search</h4>

                          <div class="widget-content">

                            <form method="post" action="#" class="course-form clearfix">

                                <div class="select-block">
                                    <select>
                                        <option value="">Discipline</option>
                                        <option value="">Discipline</option>
                                        <option value="">Discipline</option>
                                        <option value="">Discipline</option>
                                        <option value="">Discipline</option>
                                    </select>
                                    <i class="fa fa-sort-desc"></i>
                                </div>
                                <!-- select-block -->

                                <div class="select-block">
                                    <select>
                                        <option value="">Duration</option>
                                        <option value="">Duration</option>
                                        <option value="">Duration</option>
                                        <option value="">Duration</option>
                                        <option value="">Duration</option>
                                    </select>
                                    <i class="fa fa-sort-desc"></i>
                                </div>
                                <!-- select-block -->

                                <div class="select-block">
                                    <select>
                                        <option value="">Level</option>
                                        <option value="">Level</option>
                                        <option value="">Level</option>
                                        <option value="">Level</option>
                                        <option value="">Level</option>
                                        </select>
                                    <i class="fa fa-sort-desc"></i>
                                </div>
                                <!-- select-block -->

                                <div class="select-block">
                                    <select>
                                        <option value="">Location</option>
                                        <option value="">Location</option>
                                        <option value="">Location</option>
                                        <option value="">Location</option>
                                        <option value="">Location</option>
                                    </select>
                                    <i class="fa fa-sort-desc"></i>
                                </div>
                                <!-- select-block -->

                                <input type="submit" value="search" class="course-submit">

                            </form>

                          </div>
                          <!-- widget-content -->

                    </div>
                    <!-- widget -->

                <div class="widget kopa-testimonial-1-widget hide">

                  <h4 class="widget-title widget-title-s10">Testimonial</h4>

                            <div class="owl-carousel owl-carousel-7">

                                <div class="item">
                                    <article class="testimonial-item">
                                        <div>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Aenean lacinia bibendum nulla sed consectetur. Cras justo odio, dapibus ac facilisis in, egestas eget</div>
                                        <p>
                                            <strong>Brenen</strong>
                                            <span>- CEO @ kopasoft</span>
                                        </p>
                                    </article>
                                </div>

                                <div class="item">
                                    <article class="testimonial-item">
                                        <div>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Aenean lacinia bibendum nulla sed consectetur. Cras justo odio, dapibus ac facilisis in, egestas eget</div>
                                        <p>
                                            <strong>Brenen</strong>
                                            <span>- CEO @ kopasoft</span>
                                        </p>
                                    </article>
                                </div>

                                <div class="item">
                                    <article class="testimonial-item">
                                        <div>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Aenean lacinia bibendum nulla sed consectetur. Cras justo odio, dapibus ac facilisis in, egestas eget</div>
                                        <p>
                                            <strong>Brenen</strong>
                                            <span>- CEO @ kopasoft</span>
                                        </p>
                                    </article>
                                </div>

                            </div>
                            <!-- owl-carousel -->

                </div>
                <!-- widget -->

                <div class="widget kopa-social-widget hide">

                  <h4 class="widget-title widget-title-s10">Connect with us</h4>

                  <ul class="clearfix">
                    <li class="facebook-icon">
                      <div>
                        <a href="#" class="fa fa-facebook"></a>
                        <p>5169</p>
                      </div>
                    </li>
                    <li class="twitter-icon">
                      <div>
                        <a href="#" class="fa fa-twitter"></a>
                        <p>51s69</p>
                      </div>
                    </li>
                    <li class="gplus-icon">
                      <div>
                        <a href="#" class="fa fa-google-plus"></a>
                        <p>51s69</p>
                      </div>
                    </li>
                  </ul>

                </div>
                <!-- widget -->

                <div class="widget widget_categories hide">

                            <h4 class="widget-title widget-title-s10">Course Categories</h4>

                            <ul>
                              <li class="2"><a href="#">Environment</a></li>
                              <li class="3"><a href="#/">Child</a></li>
                              <li class="4"><a href="#">Disaster</a></li>
                              <li class="5"><a href="#">Pet & Animals</a></li>
                              <li class="7"><a href="#">Health</a></li>
                          </ul>

                        </div>


                    </div>
                    <!-- col-md-3 -->

                </div>
                <!-- row -->

            </div>
            <!-- container -->

        </section>
        <!-- kopa-area -->

        <section class="kopa-area-16 kopa-area-parallax hide">

            <div class="mask"></div>

            <div class="container">

                <div class="row">

                    <div class="col-md-12">

                        <div class="widget kopa-tagline-5-widget">

                            <div class="row">
                                <div class="col-md-10 col-sm-9 col-xs-12">
                                    <h3>The wait is over. <span>Signup today to maximize your future incomes</span></h3>
                                </div>
                                <div class="col-md-2 col-sm-3 col-xs-12">
                                    <a href="#" class="kopa-button pink-button medium-button">signup now</a>
                                </div>
                            </div>

                        </div>
                        <!-- widget -->

                    </div>
                    <!-- col-md-12 -->

                </div>
                <!-- row -->

            </div>
            <!-- container -->

        </section>
        <!-- kopa-area-16 -->

    </div>
    <!-- main-content -->

