    
    <div id="main-content" class="kopa-course-list-1">

        <header class="page-header">

            <div class="mask-pattern"></div>

            <div class="mask"></div>

            <div class="page-header-bg page-header-bg-1"></div>

            <div class="page-header-inner">

                <div class="container">

                    <div class="row">

                        <div class="col-md-12">

                            <h1 class="page-title clearfix">
                                <span class="pull-left">Course List</span>
                            </h1>

                        </div>
                        <!-- col-md-12 -->

                    </div>
                    <!-- row -->

                </div>
                <!-- container -->

            </div>
            <!-- page-header-inner -->

        </header>
        <!-- page-header -->

        <div itemtype="http://data-vocabulary.org/Breadcrumb" itemscope="" class="kopa-breadcrumb hide">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
						<div class="pull-left"><span>Course list</span></div>
						<div class="pull-right">
							<a title="Return to Home" href="#" itemprop="url">
								<span itemprop="title">Home</span>
							</a>
							<span>&nbsp;/&nbsp;</span>
							<span itemprop="title" class="current-page">Course list</span>
						</div>
					</div>
                </div>
            </div>
        </div>
        <!-- kopa-breadcrumb -->

        <section class="kopa-area kopa-area-31">

            <div class="container">

                <div class="row hide">
                    <div class="col-md-9">
                        <h3> BSERI courses </h3>
                        <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam lacinia, turpis non laoreet bibendum, felis est convallis justo, eu fringilla augue sapien placerat mauris. Nunc iaculis lectus nibh, in vestibulum ligula vehicula ac. Duis venenatis vestibulum eros, quis facilisis ex sollicitudin at. Nunc sodales, leo a malesuada luctus, felis diam accumsan velit, in rhoncus leo nisi vitae dui. Interdum et malesuada fames ac ante ipsum primis in faucibus. Duis in neque sollicitudin, interdum turpis sit amet, gravida orci. Nullam viverra tellus ac elit viverra suscipit. Vestibulum sollicitudin hendrerit risu</p>
                        <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam lacinia, turpis non laoreet bibendum, felis est convallis justo, eu fringilla augue sapien placerat mauris. Nunc iaculis lectus nibh, in vestibulum ligula vehicula ac. Duis venenatis vestibulum eros, quis facilisis ex sollicitudin at. Nunc sodales, leo a malesuada luctus, felis diam accumsan velit, in rhoncus leo nisi vitae dui. Interdum et malesuada fames ac ante ipsum primis in faucibus. Duis in neque sollicitudin, interdum turpis sit amet, gravida orci. Nullam viverra tellus ac elit viverra suscipit. Vestibulum sollicitudin hendrerit risu</p>

                    </div>
                    <div class="col-md-3">

                        <div class="widget kopa-course-search-2-widget">

                            <h4 class="widget-title widget-title-s10">Courses search</h4>

                            <div class="widget-content">

                              <form method="post" action="#" class="course-form clearfix">

                                    <div class="select-block">
                                          <select>
                                              <option value="">Discipline</option>
                                              <option value="">Discipline</option>
                                              <option value="">Discipline</option>
                                              <option value="">Discipline</option>
                                              <option value="">Discipline</option>
                                          </select>
                                          <i class="fa fa-sort-desc"></i>
                                      </div>
                                      <!-- select-block -->

                                    <div class="select-block">
                                          <select>
                                              <option value="">Duration</option>
                                              <option value="">Duration</option>
                                              <option value="">Duration</option>
                                              <option value="">Duration</option>
                                              <option value="">Duration</option>
                                          </select>
                                          <i class="fa fa-sort-desc"></i>
                                      </div>
                                      <!-- select-block -->

                                    <div class="select-block">
                                          <select>
                                              <option value="">Level</option>
                                              <option value="">Level</option>
                                              <option value="">Level</option>
                                              <option value="">Level</option>
                                              <option value="">Level</option>
                                          </select>
                                          <i class="fa fa-sort-desc"></i>
                                      </div>
                                      <!-- select-block -->

                                    <div class="select-block">
                                          <select>
                                              <option value="">Location</option>
                                              <option value="">Location</option>
                                              <option value="">Location</option>
                                              <option value="">Location</option>
                                              <option value="">Location</option>
                                          </select>
                                          <i class="fa fa-sort-desc"></i>
                                      </div>
                                      <!-- select-block -->

                                  <input type="submit" value="search" class="course-submit">

                              </form>

                            </div>
                            <!-- widget-content -->

                          </div>
                    </div>
                </div>
                <!-- row -->
                <div class="row">

                    <div class="col-md-12">

                    	<div class="widget kopa-masonry-list-2-widget">

          	    					<div class="widget-title widget-title-s5 text-center">
	                            <span></span>
	                            <h2>Our Courses</h2>
	                            <p>See our features courses or see all courses to see all.</p>
	                        </div>

          	    					<div class="masonry-list-wrapper">

                                <ul class="clearfix">

                                    <!-- <% for( i = 0 ; i < courses.length ; i ++) { %> -->
                                        <li class="masonry-item" ng-repeat="course in courses">
                                            <a class="entry-item-anchor" href="javascript:void(0)" ng-click="openReadMoreModal(course)">
                                              <article class="entry-item hot-item">
                                                <div class="entry-thumbx">
                                                    <div class="mask"></div>
                                                    <a href="#"><img ng-src= {{course.course.smallimage}} alt="course image"></a>
                                                    <span class="entry-hot" ng-if="course.isImportant">Hot</span>
                                                </div>
                                                <div class="entry-content">
                                                    <h6 class="entry-title"><a href="#">{{course.course.title}}</a><br><span class="hide">{{course.course.briefdesc}}</span></h6>
                                                    <div class="course-teacher" ng-if="course.isTutorAvl">
                                                        <span>Trainer</span>
                                                        : <a href="#">{{course.Trainer}}</a>
                                                    </div>
                                                    <br>
                                                    <a href="javascript:void(0)" ng-click="openReadMoreModal(course)" class="btn btn-primary">Read More</a>
                                                    <!-- <a href="javascript:void(0)" ng-click="stateGoToDetails('trainingdetails',{courseid:course.id})" class="btn btn-primary">Take Course</a>
 -->
                                                </div>

                                            </article>
                                          </a>
                                        </li>
                                        <!-- masonry-item -->

                                </ul>
                                <!-- clearfix -->

                            </div>
                            <!-- masonry-list-wrapper -->

                            <div class="text-center hide">
                            	<a href="#" class="load-more">Load more</a>
                            </div>

	    				</div>
	    				<!-- widget -->

                    </div>
                    <!-- col-md-12 -->

                </div>
                <!-- row -->

            </div>
            <!-- container -->

        </section>
        <!-- kopa-area -->



    </div>
