    <!-- <div class="modal fade modal-fullscreen force-fullscreen"> -->
      <!-- <div class="modal-dialog"> -->
        <script type="text/ng-template" id="videomodal.html">
          <div class="modal-content text-center">
            <div class="modal-body">
              <button type="button" class="close" ng-click="closeModal()">&times;</button>
              <video class="modal-video" autoplay width="100%" controls >
                <source ng-src={{modalObject.video}} type='video/mp4'>
              </video>
          
  <!--              <iframe class="modal-video" width="100%" height="100%" src="//www.youtube.com/embed/mwuPTI8AT7M?rel=0" frameborder="0"></iframe>
   -->                   
            </div><!-- .modal-body -->
          </div><!-- .modal-content -->
        </script>
      <!-- </div> -->
      <!-- .modal-dialog -->
    <!-- </div> -->
    <!-- .modal.fade -->
